<%= render :partial => 'home' %>
<%



    def getChart

        # Chart appearance configuration
        chartAppearancesConfigObj = Hash.new
        chartAppearancesConfigObj = {
                        "caption" => "Covid cases from 2019 - Present",
                        "subCaption" => "NSW Suburbs - No.of cases",
                        "yAxisName" => "Suburb",
                        "xAxisName" => "Number of Cases",
                        "numberSuffix" => "",
                        "theme" => "fusion"
                    }

        # An array of hash objects which stores data
        chartDataObj = @suburb_by_cases

        # Chart data template to store data in "Label" & "Value" format
        labelValueTemplate = "{ \"label\": \"%s\", \"value\": \"%s\" },"

        # Chart data as JSON string
        labelValueJSONStr = ""

        chartDataObj.each {|item|
            data = labelValueTemplate % [item.keys[0], item[item.keys[0]]]
            labelValueJSONStr.concat(data)
        }

        # Removing trailing comma character
        labelValueJSONStr = labelValueJSONStr.chop

        # Chart JSON data template
        chartJSONDataTemplate = "{ \"chart\": %s, \"data\": [%s] }"

        # Final Chart JSON data from template
        chartJSONDataStr = chartJSONDataTemplate % [chartAppearancesConfigObj.to_json, labelValueJSONStr]

        # Chart rendering
        chart = Fusioncharts::Chart.new({
                width: "75%",
                height: "600",
                type: "column2d",
                renderAt: "chartContainer",
                dataSource: chartJSONDataStr,
                alignCaptionWithCanvas: "0",
                xAxisPosition: "right"
            })

    end
%>
<div class="graph">
  <h3>Covid Cases Bar chart </h3>
  <div id="chartContainer"></div>
  <%=getChart.render() %>
</div>
