<%= render :partial => 'home' %>
<div class="center-block fix-width fix-height scroll-inner">
  <table class="table table-striped">
    <tr>
      <% headings = ["Clinic Name","Address","Suburb","Instruction"] %>
      <% headings.each do |header| %>
      <th><%= header %></th>
      <% end %>
    </tr>

    <% @records.each do |row| %>
      <tr>
        <% @table_headers =["\xEF\xBB\xBFtitle","Clinic Address (field_clinic_address:address_line1)","Suburb", "Clinic Facility Instruction"] %>
        <% @table_headers.each do |header| %>
          <% if header == @table_headers[0] %>
            <td><%= row[row.headers[0]] %></td>
          <% else %>
            <td><%= row[header] %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
